<template>
    <q-layout :view="view">
        <q-layout-header v-model="header" :reveal="headerReveal">
            <q-toolbar :inverted="$q.theme === 'ios'">
                <q-btn flat round dense icon="menu" @click="left = !left" aria-label="Toggle menu on left side" />
                <q-toolbar-title>
                    Danh sách chương trình
                </q-toolbar-title>
                <q-btn flat dense v-if="!$q.platform.within.iframe" class="q-mr-sm" label="Lịch phát sóng" @click="$router.replace('/showcase')" />
                <q-btn flat round dense icon="menu" @click="right = !right" aria-label="Lịch phát sóng" />
            </q-toolbar>
        </q-layout-header>

        <list-channel-left></list-channel-left>

        <q-page-container>
            <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in">
                <router-view />
            </transition>
        </q-page-container>
    </q-layout>
</template>

<script>
    import { mapState, mapGetters } from 'vuex'
    import ListChannelLeft from "../../components/layout/list-channel-left";
    export default {
        components: {ListChannelLeft},
        computed: {
            header: {
                get () { return this.$store.state.layoutDemo.header },
                set (val) { this.$store.commit('layoutDemo/setHeader', val) }
            },
            footer: {
                get () { return this.$store.state.layoutDemo.footer },
                set (val) { this.$store.commit('layoutDemo/setFooter', val) }
            },
            left: {
                get () { return this.$store.state.layoutDemo.left },
                set (val) { this.$store.commit('layoutDemo/setLeft', val) }
            },
            right: {
                get () { return this.$store.state.layoutDemo.right },
                set (val) { this.$store.commit('layoutDemo/setRight', val) }
            },
            ...mapGetters('layoutDemo', ['view']),
            ...mapState('layoutDemo', [
                'headerReveal', 'footerReveal',
                'leftOverlay', 'leftBehavior', 'leftBreakpoint',
                'rightOverlay', 'rightBehavior', 'rightBreakpoint',
                'scrolling'
            ])
        }
    }
</script>

<style scoped>
    .q-layout-drawer{
        position: fixed !important;
    }
</style>
