body.desktop {
    h1 {
        color: #4d5fbf;
        text-transform: uppercase;
        font-size: 3rem;
        text-shadow: 1px 2px 3px #999;
    }
    .q-layout-page-container .q-layout-transition {
        padding-left: 235px!important;
    }
    header.q-layout-header {
        background: #0058ff;
    }
    .q-toolbar.q-toolbar-normal.glossy.bg-primary {
        background: #1d4288!important;
    }
    .q-table thead tr th:hover {
        background: #0056f5;
        color: #fff;
    }
    .layout-padding {
        margin: 50px 0 0;
        padding:1em 2em!important;
    }
    .caption {
        color: #1c3b94;
        letter-spacing: 0;
        line-height: 24px;
        padding: 5px 0;
        font-size: 1rem;
        font-weight: bold;
        margin: 0 0 5px 0;
        text-shadow: 0 1px 1px #aaa;
        text-transform: uppercase;
    }
    .q-table-horizontal-separator tbody tr:hover td {
        background: #faffe2;
        text-shadow: 0 1px 1px #ccc;
    }
    aside.q-layout-drawer-left.scroll {
        width: 235px!important;
        padding: 1px!important;
        background: #112233!important;
        span, span i {
            color: #edf5ff;
            font-weight: 500;
            text-shadow: 0 1px 1px #000;
        }
        .q-tree > .q-tree-node.q-tree-node-parent:hover {
            background: #0059ff;
            color: #FFF;
        }
        .q-tree > .q-tree-node-child > .q-tree-node-header {
            padding-left: 14px; 
        }
        .q-tree-node.q-tree-node-child {
            padding:0 0 3px 9px;
        }
        .q-tree-node.q-tree-node-child:hover {
            color: #eef8ff;
            cursor: pointer;
            span, span i {
                color: #eef8ff;
            }
        }
        .q-tree-node-header:before {
            width: 22px;
            left: -22px;
        }
        .q-tree-children {
            background: #293254;
            span, span i {
                color: #92abd0;
            }
        }
    }
    footer.q-layout-footer.q-layout-marginal.q-layout-transition {
        left: 235px!important;
    }
}