@import 'config';
@import 'desktop';
@import 'mobile';

@mixin theme($width, $height, $background) {
    width: $width;
    height: $height;
    background-color: $background;
}

html {
    body {
        @include text-setup();
        &.default {
            .q-btn-inner {
                text-shadow: 0 1px 1px #111;
            }
            &.login {
                background: #0a4b75;
                .q-card {
                    border-radius: 6px;
                }
            }
            &.page {
                
            }
            &.list {
                
            }
            &.detail {
                
            }
            &.profile {
                
            }
        }
        .q-table thead tr th {
            font-weight: 500;
            background: #0b4584;
            color: #6fcfff;
            text-transform: uppercase;
            text-shadow: 0px 1px 1px #111;
        }
        .q-table th.sorted {
            color: #fff;
            background: #2c56a7;
        }
        .q-tree-node-parent {
            span.text-black {
                cursor: pointer;
            }
        }
    }
}