<template>
    <div>
        <video-player v-if="play_video"
                id="myPlayer"
                class='video-player-box'
                :options='playerOptions'
                @ready='playerReadied'>
        </video-player>

        <list-channel-right v-if="channel" :schedules="channel.schedule"></list-channel-right>
    </div>
</template>

<script>
    import u from "@utility/utility"
    import _ from "lodash"
    import ListChannelRight from "./list-channel-right";
    import { videoPlayer } from 'vue-video-player'

    require('video.js/dist/video-js.css');
    var videojs = require('video.js');
    window.videojs = videojs;
    require('vue-video-player/src/custom-theme.css');
    require('videojs-contrib-hls/dist/videojs-contrib-hls');
    export default {
        name: 'channel-detail',
        components: { ListChannelRight, videoPlayer},
        data(){
           return {
               channel_id: 157,
               play_video: false,
               channel: {},
               playerOptions: {}
           }
        },
        created() {

        },
        methods: {
            playerReadied (player) {
                this.player = player
                if (this.player.readyState() < 1 && this.play_video == true) {
                    this.player.one('loadedmetadata', function () {
                        player.tech({IWillNotUseThisInPlugins: true}).hls
                    })
                }
            }
        },
        mounted() {
            this.$eventHub.$on('channel_id', res => {
                this.channel_id = res;
                u.g('get-detail-channel/' + this.channel_id).then(res => {
                    if(!_.isEmpty(res) && !_.isEmpty(res.data) && !_.isEmpty(res.data.urlStreaming)){
                        this.channel = res.data;
                        this.playerOptions = {
                            muted: false,
                            controls: true,
                            controlBar: true,
                            language: 'en',
                            fluid: true,
                            preload: 'auto',
                            playbackRates: [0.7, 1.0, 1.5, 2.0],
                            sources: [ {
                                src: res.data.urlStreaming,
                                type: 'application/x-mpegURL'
                            }],
                            flash: {
                                hls: {
                                    withCredentials: false
                                }
                            },
                            html5: {
                                hls: {
                                    withCredentials: false
                                }
                            }
                        };
                        this.play_video = true;
                    }
                })
            })
        }
    }
</script>
