<template>
    <div style="padding: 10px;">
        <q-layout-drawer
                    side="right"
                    v-model="right"
                    :overlay="rightOverlay"
                    :behavior="rightBehavior"
                    :breakpoint="rightBreakpoint"
                    :content-class="$q.theme === 'mat' ? 'bg-grey-3' : null">
            <q-scroll-area class="fit">
                <q-list-header>Lịch phát sóng</q-list-header>

                <q-item v-for="(schedule,index ) in schedules" :key="index">
                    <q-item-main>
                        <q-item-tile label>{{schedule.name}}</q-item-tile>
                        <q-item-tile sublabel>
                            <q-chip color="primary">start: {{schedule.beginTime}}</q-chip>
                            <q-chip color="red">start: {{schedule.endTime}}</q-chip>
                        </q-item-tile>
                    </q-item-main>
                </q-item>
            </q-scroll-area>
        </q-layout-drawer>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    import QItem from "quasar-framework/src/components/list/QItem";
    import QItemTile from "quasar-framework/src/components/list/QItemTile";
    import QChip from "quasar-framework/src/components/chip/QChip";

    export default {
        name: 'list-channel-left',
        components: {QChip, QItemTile, QItem},
        props: {
            schedules: {
                type: Array,
                default: () => []
            }
        },
        computed: {
            right: {
                get () { return this.$store.state.layoutDemo.right },
                set (val) { this.$store.commit('layoutDemo/setRight', val) }
            },
            ...mapState('layoutDemo', [
                'headerReveal', 'footerReveal',
                'leftOverlay', 'leftBehavior', 'leftBreakpoint',
                'rightOverlay', 'rightBehavior', 'rightBreakpoint',
                'scrolling'
            ])
        }
    }
</script>
