<template>
    <div>
        <q-layout-drawer
                side="left"
                v-model="left"
                :overlay="leftOverlay"
                :behavior="leftBehavior"
                :breakpoint="leftBreakpoint"
                :content-class="$q.theme === 'mat' ? 'bg-grey-3' : null">
            <q-scroll-area class="fit">
                <q-list-header>
                    <div class="row">Danh sách kênh</div>
                    <div class="row">
                        <q-search
                                v-model="searchKey"
                                :debounce="600"
                                placeholder=""
                                float-label="Tìm kiếm kênh"
                                @input="searchChannel"
                        />
                    </div>
                </q-list-header>
                <q-list v-for="(group,index_grpup ) in list_channel" :key="index_grpup">
                    <q-list-header>{{group.name}}</q-list-header>
                    <q-item v-for="(channel,index_channel ) in group.content" :key="index_channel">
                        <q-item-side :avatar="channel.avatarImage" />
                        <router-link :to="{ name: 'channel-detail', params: { id: channel.id }}">
                            <q-item-main :label="channel.name"/>
                        </router-link>
                    </q-item>
                </q-list>
            </q-scroll-area>
        </q-layout-drawer>
    </div>
</template>

<script>
    import {mapState} from 'vuex'
    import u from "@utility/utility"
    import db from "@utility/database"
    import QItem from "quasar-framework/src/components/list/QItem";
    import QItemSide from "quasar-framework/src/components/list/QItemSide";
    import QItemMain from "quasar-framework/src/components/list/QItemMain";
    import _ from "lodash"
    import QList from "quasar-framework/src/components/list/QList";
    import QListHeader from "quasar-framework/src/components/list/QListHeader";
    export default {
        name: 'list-channel-left',
        components: {QListHeader, QList, QItemMain, QItemSide, QItem},
        data() {
            return {
                list_channel: [],
                searchKey: '',
            }
        },
        mounted() {
            var list_channel = JSON.parse(localStorage.getItem('list_channel'));

            if(list_channel){
                this.list_channel = list_channel;
            }else {
                u.g('list-channel').then(res => {
                    if (!_.isEmpty(res.data)) {
                        this.list_channel = res.data;
                        db.l.s('list_channel',JSON.stringify(res.data))
                    }
                }).catch(err => {
                    console.log(err)
                })
            }
        },
        computed: {
            left: {
                get () { return this.$store.state.layoutDemo.left },
                set (val) { this.$store.commit('layoutDemo/setLeft', val) }
            },
            ...mapState('layoutDemo', [
                'headerReveal', 'footerReveal',
                'leftOverlay', 'leftBehavior', 'leftBreakpoint',
                'rightOverlay', 'rightBehavior', 'rightBreakpoint',
                'scrolling'
            ])
        },
        methods:{
            detailChannel(id){
                this.$router.push({name: 'channel', params: {id: id}});
            },
            searchChannel(){
                var listChannel = JSON.parse(localStorage.getItem('list_channel'));
                listChannel.forEach(x=>{
                    if(_.isArray(x.content)){
                        var data = [];
                        x.content.forEach(y=>{
                            if(_.includes(y.name.toLowerCase(),this.searchKey.toLowerCase())){
                                data.push(y)
                            }
                        });
                        x.content = data;
                    }
                });
                this.list_channel = listChannel;
            }
        }
    }
</script>

<style scoped>
    a{
        text-decoration: none;
    }
</style>
