<template>
    <div style="text-align: center;margin-top: 10%">
        <channel-detail></channel-detail>
    </div>
</template>

<script>
    import ChannelDetail from "../../components/layout/channel-detail";
    export default {
        name: 'index',
        components: {ChannelDetail},
        data(){
            return {
                abc: '',
                options: [],
            }
        },
        mounted() {
            this.$eventHub.$emit('channel_id',157)
        }
    }
</script>
